<div class="container">
    <div class="breadCrumbContainer">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                Home
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a href="#">Product</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Video
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="pageBody">
        <nz-card style="width: 100%;" nzTitle="Video Sort Options" [nzBordered]="false"
            [nzBodyStyle]="{ 'padding-left': '0' }">
            <form nz-form [nzLayout]="'inline'" [formGroup]="myForm" class="sortOptionForm">
                <nz-form-item nzFlex>
                    <nz-form-label [nzFor]="'sortOption'">Sort By</nz-form-label>
                    <nz-form-control>
                        <nz-radio-group name="sortOption" formControlName="sortOption" [nzButtonStyle]="'solid'">
                            <label nz-radio-button nzValue="weight">Weight</label>
                            <label nz-radio-button nzValue="publishTime">Publish Time</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-card>
        <nz-card style="width: 100%;" nzTitle="Video List" [nzBordered]="false" [nzExtra]="videoListActions"
            [nzBodyStyle]="{ 'padding-left': 0, 'padding-top': '12px' }">
            <form nz-form [nzLayout]="'inline'" style="margin-bottom: 12px;" [formGroup]="myForm">
                <nz-form-item>
                    <nz-form-label>ID</nz-form-label>
                    <nz-form-control>
                        <input nz-input id="videoid" style="width: 40px;" formControlName="videoid" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>
                        <span>
                            Title
                            <i nz-icon nz-tooltip nzTitle="The title of the video" nzType="question-circle"
                                nzTheme="outline"></i>
                        </span>
                    </nz-form-label>
                    <nz-form-control>
                        <input nz-input id="videoTitle" formControlName="videoTitle" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Tags</nz-form-label>
                    <nz-form-control>
                        <nz-select nzMode="multiple" nzAllowClear
                            style="min-width: 100px;"
                            formControlName="selectTags" nzShowSearch>
                            <nz-option *ngFor="let option of tagOptions" [nzLabel]="option.label"
                                [nzValue]="option.value"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Status</nz-form-label>
                    <nz-form-control>
                        <nz-select 
                            style="min-width: 100px;"
                            nzAllowClear formControlName="selectStatus"
                            nzShowSearch>
                            <nz-option *ngFor="let option of statusOptions" [nzLabel]="option.label"
                                [nzValue]="option.value"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Publish Time</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker formControlName="datePicker"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzSpan]="14" [nzOffset]="4">
                        <button nz-button nzType="primary">Query</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
            <nz-table #basicTable [nzData]="videoData" [nzScroll]="{ x: 'max-content' }">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Publish Time</th>
                        <th>State</th>
                        <th>Earnings</th>
                        <th>Comments</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{ data.id }}</td>
                        <td>{{ data.title }}</td>
                        <td>{{ data.publishTime }}</td>
                        <td>{{ data.state }}</td>
                        <td>{{ data.earnings }}</td>
                        <td>{{ data.comments }}</td>
                        <td>
                            <a href="#">Edit</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a href="#">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>
<ng-template #videoListActions>
    <button nz-button nzType="dashed" class="actionBtn">
        <i nz-icon [nzType]="'plus'"></i>
        New
    </button>
    <button nz-button nzType="dashed" class="actionBtn">
        Batch Upload
    </button>
    <button nz-button nzType="link" class="actionBtn">
        Download Template
    </button>
</ng-template>